.root {
    -fx-background-color: #67C23A;
}
.label {
    -fx-font-size: 30;
    -fx-text-background-color: #ffffff;
}
#username {

}
.text-field {
    -fx-min-width: 45;
    -fx-min-height: 45;
}
.button {
    -fx-label-padding: 10 160 10 160;
    -fx-text-fill: #ffffff;
    -fx-background-color: #409EFF;
}