

.drawer {
  -fx-background-color : transparent;
}

.drawer .box-search
{
    -fx-background-repeat : no-repeat;
    -fx-background-position : right;
    -fx-border-width : 1.0px 0.0px 1.0px 0.0px;
    -fx-min-height : 38.0px;
    -fx-border-color : -box-search-color;
}

.drawer .box-search .text-field
{
    -fx-text-fill : -box-search-fill;
}

.drawer .scroll .drawer-content .drawer-item
{
  -fx-background-radius : 0.0px;
  -fx-background-color : transparent;
  -fx-min-height : 50.0px;
}

.drawer .scroll .drawer-content .drawer-menu .drawer-item
{
    -fx-alignment : baseline_left;
}

.drawer .scroll .drawer-content .drawer-menu .title
{
    -fx-background-radius : 0.0px;
    -fx-background-color : transparent;
    -fx-pref-height : 50.0px;
    -fx-cursor : hand;
}

.drawer .scroll .drawer-content .drawer-item  .text,
.drawer .scroll .drawer-content .drawer-menu  .text,
.drawer .scroll .drawer-content .drawer-menu .drawer-item:focused .text
{
  -fx-fill : -text-color;
}

.drawer .scroll .drawer-content .drawer-item  .glyph-icon,
.drawer .scroll .drawer-content .drawer-item  .icon
{
    -fx-fill : -icon-color;
}

.drawer .scroll .drawer-content .drawer-menu .content
{
  -fx-border-insets : 0.0px;
  -fx-border-color : -light-gray;
}

.drawer .scroll .drawer-content .drawer-item:focused,
.drawer .scroll .drawer-content .drawer-item:focused .icon,
.drawer .scroll .drawer-content .drawer-item:focused .text,
.drawer .scroll .drawer-content .drawer-menu:focused .title,
.drawer .scroll .drawer-content .drawer-menu:focused .title .text,
.drawer .scroll .drawer-content .drawer-menu:focused .title .icon

{
  -fx-background-color : -base;
  -fx-fill : white;
}

.drawer .scroll .drawer-content .drawer-menu:focused .title .arrow
{
  -fx-background-color : white;
}

.drawer .scroll .drawer-content .drawer-menu .drawer-item:focused
{
  -fx-border-color : -base;
  -fx-border-width : 0.0 0.0 1.0 0.0;
  -fx-background-color : transparent;
}

.radio-drawer {
  -fx-cursor : hand;
}

.radio-drawer:selected .radio
{
  -fx-scale-x : 1.2;
  -fx-scale-y : 1.2;

}

.radio-success .radio,
.radio-success .radio:hover,
.radio-success .radio:focused,
.radio-success:selected .radio
{
  -fx-border-color : -success;
}

.radio-warning .radio,
.radio-warning .radio:hover,
.radio-warning .radio:focused,
.radio-warning:selected .radio
{
  -fx-border-color : -warning;
}

.radio-danger .radio,
.radio-danger .radio:hover,
.radio-danger .radio:focused,
.radio-danger:selected .radio
{
  -fx-border-color : -danger;
}

/** titled-pane 相关**/

.titled-pane > .title {
	-fx-background-color: #f5f5f5;
	-fx-border-color: #dddddd;
	/*-fx-background-insets: 5, 1, 5;*/
	-fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
	-fx-border-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
	-fx-padding: 11
}

.titled-pane > .content {
	-fx-background-color: white;
	-fx-background-radius: 0 0 4 4;
	-fx-border-radius: 0 0 4 4;
	-fx-border-color: #dddddd;
	/*-fx-padding: -11;*/
}

.titled-pane.primary {
	-fx-text-fill: white;
}

.titled-pane.primary > .title {
	-fx-background-color: #337ab7;
	-fx-border-color: #337ab7;
}

.titled-pane.primary > .content {
	-fx-border-color: #337ab7;
}

.titled-pane.success .arrow,
.titled-pane.info .arrow,
.titled-pane.warning .arrow,
.titled-pane.danger .arrow {
	-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

.titled-pane.success {
	-fx-text-fill: #3c763d;
}

.titled-pane.success > .title {
	-fx-background-color: #dff0d8;
	-fx-border-color: #d6e9c6;
}

.titled-pane.success > .content {
	-fx-border-color: #d6e9c6;
}

.titled-pane.info {
	-fx-text-fill: #31708f;
}

.titled-pane.info > .title {
	-fx-background-color: #d9edf7;
	-fx-border-color: #bce8f1;
}

.titled-pane.info > .content {
	-fx-border-color: #bce8f1;
}

.titled-pane.warning {
	-fx-text-fill: #8a6d3b;
}

.titled-pane.warning > .title {
	-fx-background-color: #fcf8e3;
	-fx-border-color: #faebcc;
}

.titled-pane.warning > .content {
	-fx-border-color: #faebcc;
}

.titled-pane.danger {
	-fx-text-fill: #a94442;
}

.titled-pane.danger > .title {
	-fx-background-color: #f2dede;
	-fx-border-color: #eacbd0;
}

.titled-pane.danger > .content {
	-fx-border-color: #eacbd0;
}

.accordion > .titled-pane > .title,
.accordion > .titled-pane > .content {
	-fx-background-radius: 0;
	-fx-border-radius: 0;
}

/*按钮相关*/
/*primary*/
.button.primary,.split-menu-button.primary,.toggle-button.primary,.menu-button.primary,
.split-menu-button.primary > .label, .split-menu-button.primary > .arrow-button {
	-fx-background-color: #337ab7;
}

.button.primary,.menu-button.primary,.toggle-button.primary,
.split-menu-button.primary > .label,.split-menu-button.primary > .arrow-button {
	-fx-border-color: #2e6da4;
	-fx-text-fill: white;
}
/*hover state*/
.button.primary:hover,.menu-button.primary:hover,.toggle-button.primary:hover,
.split-menu-button.primary > .label:hover, .split-menu-button.primary > .arrow-button:hover {
	-fx-border-color: #204d74;
	-fx-background-color: #286090;
}
/*pressed selected*/
.button.primary:pressed, .button.primary:selected,
.menu-button.primary:pressed,.menu-button.primary:selected
,.toggle-button.primary:pressed,.toggle-button.primary:selected,
.split-menu-button.primary:pressed > .label, .split-menu-button.primary > .arrow-button:pressed {
	-fx-background-color: #286090;
	-fx-border-color: #204d74;
	-fx-effect: innershadow(gaussian, #204d74, 10, 0, 0, 3);
}

/*success*/

.button.success,.split-menu-button.success,.toggle-button.success,.menu-button.success,
.split-menu-button.success > .label, .split-menu-button.success > .arrow-button {
	-fx-background-color: #2BBBAD;
}

.button.success,.menu-button.success,.toggle-button.success,
.split-menu-button.success > .label,.split-menu-button.success > .arrow-button {
	-fx-border-color: #2BBBAD;
	-fx-text-fill: white;
}
/*hover state*/
.button.success:hover,.menu-button.success:hover,.toggle-button.success:hover,
.split-menu-button.success > .label:hover, .split-menu-button.success > .arrow-button:hover {
	-fx-border-color: #2a877e;
	-fx-background-color: #2BBBAD;
}
/*pressed selected*/
.button.success:pressed, .button.success:selected,
.menu-button.success:pressed,.menu-button.success:selected
,.toggle-button.success:pressed,.toggle-button.success:selected,
.split-menu-button.success:pressed > .label, .split-menu-button.success > .arrow-button:pressed {
	-fx-background-color: #2BBBAD;
	-fx-border-color: #2a877e;
	-fx-effect: innershadow(gaussian, #2a877e, 10, 0, 0, 3);
}

/*info*/

.button.info,.split-menu-button.info,.toggle-button.info,.menu-button.info,
.split-menu-button.info > .label, .split-menu-button.info > .arrow-button {
	-fx-background-color: #5bc0de;
}

.button.info,.menu-button.info,.toggle-button.info,
.split-menu-button.info > .label,.split-menu-button.info > .arrow-button {
	-fx-border-color: #46b8da;
	-fx-text-fill: white;
}
/*hover state*/
.button.info:hover,.menu-button.info:hover,.toggle-button.info:hover,
.split-menu-button.info > .label:hover, .split-menu-button.info > .arrow-button:hover {
	-fx-border-color: #269abc;
	-fx-background-color: #31b0d5;
}
/*pressed selected*/
.button.info:pressed, .button.info:selected,
.menu-button.info:pressed,.menu-button.info:selected
,.toggle-button.info:pressed,.toggle-button.info:selected,
.split-menu-button.info:pressed > .label, .split-menu-button.info > .arrow-button:pressed {
	-fx-background-color: #31b0d5;
	-fx-border-color: #269abc;
	-fx-effect: innershadow(gaussian, #269abc, 10, 0, 0, 3);
}

/*warning*/

.button.warning,.split-menu-button.warning,.toggle-button.warning,.menu-button.warning,
.split-menu-button.warning > .label, .split-menu-button.warning > .arrow-button {
	-fx-background-color: #f0ad4e;
}

.button.warning,.menu-button.warning,.toggle-button.warning,
.split-menu-button.warning > .label,.split-menu-button.warning > .arrow-button {
	-fx-border-color: #eea236;
	-fx-text-fill: white;
}
/*hover state*/
.button.warning:hover,.menu-button.warning:hover,.toggle-button.warning:hover,
.split-menu-button.warning > .label:hover, .split-menu-button.warning > .arrow-button:hover {
	-fx-border-color: #d58512;
	-fx-background-color: #ec971f;
}
/*pressed selected*/
.button.warning:pressed, .button.warning:selected,
.menu-button.warning:pressed,.menu-button.warning:selected
,.toggle-button.warning:pressed,.toggle-button.warning:selected,
.split-menu-button.warning:pressed > .label, .split-menu-button.warning > .arrow-button:pressed {
	-fx-background-color: #ec971f;
	-fx-border-color: #d58512;
	-fx-effect: innershadow(gaussian, #d58512, 10, 0, 0, 3);
}

/*danger*/

.button.danger,.split-menu-button.danger,.toggle-button.danger,.menu-button.danger,
.split-menu-button.danger > .label, .split-menu-button.danger > .arrow-button {
	-fx-background-color: #d9534f;
}

.button.danger,.menu-button.danger,.toggle-button.danger,
.split-menu-button.danger > .label,.split-menu-button.danger > .arrow-button {
	-fx-border-color: #d43f3a;
	-fx-text-fill: white;
}
/*hover state*/
.button.danger:hover,.menu-button.danger:hover,.toggle-button.danger:hover,
.split-menu-button.danger > .label:hover, .split-menu-button.danger > .arrow-button:hover {
	-fx-border-color: #ac2925;
	-fx-background-color: #c9302c;
}
/*pressed selected*/
.button.danger:pressed, .button.danger:selected,
.menu-button.danger:pressed,.menu-button.danger:selected
,.toggle-button.danger:pressed,.toggle-button.danger:selected,
.split-menu-button.danger:pressed > .label, .split-menu-button.danger > .arrow-button:pressed {
	-fx-border-color: #ac2925;
	-fx-background-color: #c9302c;
	-fx-effect: innershadow(gaussian, #ac2925, 10, 0, 0, 3);
}
